body {
	background-image: url(Iconos/sunset-landscapes-nature-reflections-wallpaper-203727.jpg);
	background-attachment: fixed;
	background-size: cover;


}

.flexboxLogo {
	display: flex;
	justify-content: center;
}

.cityName {
	font-family: 'Montserrat Subrayada', sans-serif;

}

.titulo {
	font-family: 'Righteous', cursive;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 white;
	display: flex;
	justify-content: center;
	font-size: 35px;
	padding: 40px;
	color: white;
	text-decoration: underline;
	background-image: url(logoweather1.png);
	background-size: contain;
	background-repeat: no-repeat;

}

.FindYou {
	color: white;
}

.country {
	font-size: 20px;
}

.cardTime {
	border-radius: 25px;
}

.topHeader {

	padding: 50px;
	display: flex;
	justify-content: center;
	font-size: 30px;
}



.headers {

	padding: 19px 0;
	text-align: center;
	color: white;
	font-size: 600;
	font-size: 19px;
	position: flex;

}

.card {
	display: flex;
	margin-left: 320px;
	margin-right: 320px;
	margin-bottom: 100px;
	justify-content: space-around;
	border-radius: 25px;
	background-color: #110d198f;
	opacity: 25%;
}



